In [41]:
import pandas as pd
#import sample as s

In [42]:
df = pd.read_csv('a.csv')
size = len(df)
def format(x):
    return float("{0:.6f}".format(x))
df['latitude'] = df['latitude'].apply(format)
df['longitude'] = df['longitude'].apply(format)
df = df.drop_duplicates('latitude')
df = df.reset_index(drop = True)
df = df.drop(df.columns[[0]], 1)

In [43]:
df.to_csv("rent.csv")

In [46]:
df1 = pd.read_csv('rent.csv')

In [22]:
def loc(latitude, longitude):
	return str(latitude) + ',' + str(longitude)

for i in range(size):
    ll = loc(df1['latitude'][i], df1['longitude'][i])
    request = s.search(term = 'food', limit = 20, ll = ll)
    with open('yelp.json', 'a') as fp:
        json.dump(request, fp)

,Unnamed: 0,address,bathrooms,bedrooms,latitude,longitude,sqft,price per room
0,0,0 0,1,1,37.486931,-121.927750,680,2000
1,1,4141 Stevenson Blvd,1,1,37.539286,-121.974354,620,1913
2,2,4555 Thornton Ave.,0,1,37.554234,-122.017001,0,2130
3,3,24 Union Sq,1,1,37.586396,-122.017618,933,2150
4,4,0 0,0,5,37.608019,-122.094594,3179,795
5,5,0 0,0,1,37.624700,-122.429000,0,650
6,6,3452 La Mesa Dr,0,4,37.654182,-122.032292,2400,800
7,7,"16040 Mateo, Unit A",0,2,37.700196,-122.117889,0,1112
8,8,0 0,2,4,37.702400,-122.124000,1750,775
9,9,0 0,2,4,37.720500,-122.158700,1460,712
10,10,2031 Shoreline Dr.,0,2,37.757184,-122.257469,0,1247
11,11,Willow Street at Franciscan Way,0,1,37.757928,-122.256180,700,2125
12,12,2242 San Jose Ave.,2,3,37.761571,-122.248180,1050,1733
13,13,College Ave.,0,2,37.764100,-122.163300,0,1600
14,14,901 Shorepoint Court,1,1,37.764228,-122.272280,700,2145
15,15,5918 Bromley Ave,2,4,37.766737,-122.196381,1700,625
16,16,0 0,3,5,37.770600,-122.264800,3400,1720
17,17,500 Canyon Oaks Dr.,0,2,37.772155,-122.148661,0,1375
18,18,615 Canyon Oaks Drive,2,2,37.773196,-122.145704,1125,1500
19,19,Santa Clara Ave at 8th Street,1,1,37.773428,-122.273280,700,2000
20,20,Paru St at Buena Vista Ave,3,4,37.776583,-122.254894,2500,1223
21,21,Paru St at Clement Ave,3,4,37.776855,-122.254786,2456,1223
22,22,1100 Pacific Marina Street,1,2,37.782282,-122.264571,1042,2140
23,23,1100 Pacific Marina,1,2,37.782316,-122.264743,1042,2140
24,24,1100 Pacific Marina,1,1,37.782383,-122.264442,700,3020
25,25,1100 Pacific Marina,1,2,37.782417,-122.264528,866,1617
26,26,Park Street,1,2,37.787800,-122.188400,950,1500
27,27,4436 Hyacinth Avenue,1,2,37.789387,-122.187002,1300,1737
28,28,2108 E 23rd St,2,2,37.791466,-122.232570,1400,1675
29,29,Brown Ave at Wisconsin,0,1,37.794050,-122.194490,0,1600
...,...,...,...,...,...,...,...,...
2256,2256,207 Vista Heights Road,0,3,37.932124,-122.295880,1298,1000
2257,2257,2302 Carquinez Ave,2,3,37.932470,-122.311864,1700,1066
2258,2258,Macdonald Ave at 21st St,1,1,37.935724,-122.349581,380,880
2259,2259,Arlington Blvd at Claremont Ave,1,1,37.938424,-122.308481,700,1950
2260,2260,0 0,1,1,37.940000,-122.362000,500,1500
2261,2261,830 36th St,1,2,37.943983,-122.332981,1200,1050
2262,2262,834 7th St. Richmond,0,3,37.945314,-122.362525,0,533
2263,2263,1251 Pear Drive,2,4,37.946973,-122.041841,2000,600
2264,2264,700 Lincoln Village Circle,1,1,37.948557,-122.506747,708,2567
2265,2265,1162 Sunrise Ridge Dr.,0,4,37.950678,-122.110591,2588,1375
2266,2266,riverside at amador,0,2,37.953673,-122.327313,0,1075
2267,2267,Elission Lane at Martin Dr.,0,4,37.956059,-122.370808,2100,737
2268,2268,Eliison Lane at Martin Dr.,0,4,37.956076,-122.371044,2100,712
2269,2269,0 0,0,1,37.960622,-122.039273,0,1395
2270,2270,PANCHAL NAGAR at OLYMPIC HOTEL,0,1,37.962200,-81.496800,0,20000
2271,2271,5071 wilmont ct,0,4,37.962437,-121.808445,2700,612
2272,2272,3445 San Pablo Dam Rd.,1,1,37.963481,-122.323449,445,1150
2273,2273,San Pablo Dam Rd at Valley View,0,1,37.964223,-122.319581,0,695
2274,2274,"17th street, at Broadway",0,1,37.971123,-122.347882,0,1498
2275,2275,0 0,0,1,37.972400,-122.336900,0,998
2276,2276,2601 Hilltop,1,1,37.978234,-122.333429,802,2089
2277,2277,2601 hilltop drive,2,2,37.978523,-122.332881,1029,1191
2278,2278,0 0,0,1,37.982300,-122.036200,0,1295
2279,2279,0 0,2,4,37.996900,-122.287500,1830,650
2280,2280,0 0,0,3,38.006600,-122.263700,1721,833
2281,2281,2nd ave at Ceres street,1,1,38.052974,-122.223866,1002,1600
2282,2282,Alhambra St at Heald St,1,1,38.054698,-122.214575,650,1450
2283,2283,938 Virginia Street,0,2,38.101979,-122.247629,625,647
2284,2284,2751 Peppertree Dr,2,2,38.275976,-122.012357,936,799
2285,2285,3015 San Pablo AVe,2,2,44.061200,-123.155500,1155,1997

In [19]:
size

2286